<!DOCTYPE html>
<html>
<head>
	<title>Harry Potter and the Sorcerers Stone (2001)</title>
	<link rel="stylesheet" type="text/css" href="../css/style2.css">
</head>
<body>

<div class="top-bar"></div>
<div class="container">
	<div class="header">
		<h1>JeroNime</h1>
		<ul>
			<li><a href="../index.html">Home</a></li>
		</ul>
	</div>
	<hr>
	<div class="content">
		<h1>Harry Potter and the Chamber of Secrets (2002)</h1>
		<img src="../img/harry2.png">
		<p>Pada seri kedua ini, Harry Potter lagi-lagi melewati liburan musim panas bersama keluarga dursley yang menyebalkan. Akan tetapi muncul makhluk aneh bernama Dobby. Dobby adalah sejenis peri rumah yang melayani pada suatu tuan rumah. Dobby melarang harry potter untuk kembali ke hogwarts dikarenakan dapat mengancam keselamatan harry potter di hogwarts.</p>
		<p>Setelah kembali ke hogwarts keanehan-keanehan terjadi kepada teman di sekitarnya dan mengubahnya menjadi batu, setelah itu harry pun segera mencari pelaku dibalik perbuatan tersebut. Apakah yang akan terjadi pada kelanjutan cerita selanjutnya ?</p>
	</div>
	<hr>
	<div class="link">
		<h3>Harry Potter and the Sorcerers Stone (2001)</h3>
		<p>360P | <a href="">GDrive</a> | <a href="">UCfile</a></p>
		<p>480P | <a href="">GDrive</a> | <a href="">UCfile</a></p>
		<p>720P | <a href="">GDrive</a> | <a href="">UCfile</a></p>
	</div>
</div>

</body>
</html>